ORCHESTRATOR_CATALOG_TRUST_KEYS={{ lookup('file', capacity_catalog_output_dir ~ '/trust.json') | from_json | to_json }}
ORCHESTRATOR_CATALOG_SOURCES={{ lookup('file', capacity_catalog_output_dir ~ '/catalog-source.json') | from_json | to_json }}
